.cont{
    background-color: rgb(233, 233, 233);

}
.navbar2{
    display: none;
}
.navbar{
    max-width: 1600px;
    height:79px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;
    font-weight: 300;
    font-size: small;
    letter-spacing: 1px;
    font-size: 14px;
    margin: auto;
    margin-bottom: 0;
}



.arrowup {
    font-size: 29px;
    margin-left: -4px;
    transition: 200ms ease;
    transform: rotate(180deg);
}

.arrowdown {
    font-size: 29px;
    margin-left: -4px;
    transition: 200ms ease;
    transform: rotate(0deg);
}

.arrowup:hover, .arrowdown:hover{
    transition: 200ms ease;
    transform: scale(1.1);
    color: rgb(76, 76, 76);
}


.welcome{
    font-weight: 500;
    font-size: 13px;
    margin: 0 13px;
    margin-top: 10px;
        cursor: pointer;
  
}

.rightSide, .leftSide{
    display: flex;
}

.rightSide{
    align-items: center;
    font-size: 24px;
    margin-right: 35px;
    padding: 5px 10px;
       margin-top: -9px;
}

.topCont{
    background-color: rgb(240, 240, 240);
}
.HomeCont{
    max-width:  1400px;
    margin: auto;
    margin-top: 15px;
        margin-bottom: 75px;
    padding:15px;
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
   
}

.HomeCont .leftPannel {
    border: .1px solid rgb(196, 196, 196);
    /* box-shadow: 0px 10px 40px rgba(195, 195, 195, 0.5); */
    height: 600px;
    /* padding: 20px; */
    padding: 20px 38px;
    margin-left: 25px;
    width: 28%;
    /* min-width: 300px; */
    border-radius: 14px;
    background-color: rgb(200, 207, 206);
    margin-top: 8px;
}

        .show461 {
            display: none
        }

        .hide461{
            display: inline-block;
        }

.leftPannel div{

    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 400;
    display: flex;

    justify-content: space-between;
}

.leftPannel .ttle div{
        padding-bottom: 0;
}

.leftPannel .ttle{   
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.ttle div:nth-child(1){
    margin: auto auto;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
}
.ttle div:nth-child(2) {
    margin: auto auto;
    font-weight: 300;
    font-size: 15px;
}

.followers div{
        cursor: pointer;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    align-items: center;
    border-radius: 7px;
}

.followers div:nth-child(1):hover{
    background-color: rgb(76, 130, 222);
}
.followers div:nth-child(2):hover {
    background-color: rgb(110, 110, 110);
}

.followers div:nth-child(1){
    margin-right: 5px;
    color: rgb(241, 241, 241);
    background-color: rgb(35, 99, 209);
}

.followers div:nth-child(2) {
    color: rgb(241, 241, 241);
    background-color: rgb(86, 86, 86);
}

.followers div:nth-child(1) :nth-child(1){
    margin-right: 7px;
}
.leftPannel .followers{
        justify-content: center;
}


/* right side */

.HomeCont .rightPannel {
    /* background-color: aqua; */
    height: 100%;
    padding: 6px 20px 20px 20px;

    width: 100%;
    /* background-color: rgb(139, 139, 102); */
}



.rightPannel .grid{
        display: grid;
        /* place-items: center; */
        gap: 7px;
        grid-template-columns: repeat(auto-fill, minmax(216px, 1fr)); 
        padding-left: 50px;
        grid-template-rows: repeat(3, 280px);

}

.topRight{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.audioPlayer{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
}


.logout {
        cursor: pointer;
    font-size: 13px;
    padding: 6px;
    color: BLACK;
        margin-top:  10px;
}

.hideIt {
    animation: animate 200ms forwards;
}

@keyframes animate {
    0% {
        z-index: 0;
    }

    99% {
        z-index: 0;
    }

    100% {
        z-index: 1;
    }
}

.open, .close{
    cursor: pointer;
    z-index: 2;
    position: absolute;
    color: rgb(233, 233, 233);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px;
    top: 149px;
    margin-right: 20px;
    background-color: rgb(59, 59, 59);
    border-radius: 8px;
    
}

.open p{
    margin: -18px 0;
    padding: 15px 9px;
    padding-bottom: 18px;
    display: flex;
}

.open {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.openInput{
    width: 0px;
    opacity: 0;
    transition: .25s ease-out;
}

.closeInput {
    width: 130px;
    transition: .25s ease-out;
}

.openInput2 {
    display: none;
    width: 0px;
    opacity: 0;
    transition: .25s ease-out;
}

.closeInput2 {
    display: none;
    width: 130px;
    transition: .25s ease-out;
}

/* .animateOpen{
    animation: open .2s linear;
}

.animateClose{
    animation: close .2s linear;
}


@keyframes open{
    0%{
        width: 0px;
    }
    100%{
        width: 130px;
    }
}

@keyframes close {
    0% {
        width: 130px;
    }

    100% {
        width: 0px;
    }
} */

.closed{
    display: none ;
}
.inputText{
    display: none;
}


@media all and (max-width: 383px) {
.cont {
        min-width: 383px;
    }
}



/* Loading css */
/* loading dots */

.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

.loading2:after {
    content: ' .';
    animation: dots2 1s steps(5, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 white;
    }
}


@keyframes dots2 {

    0%,
    20% {
        color: rgba(255, 255, 255, 0);
        text-shadow:
            .25em 0 0 rgba(255, 255, 255, 0),
            .5em 0 0 rgba(255, 255, 255, 0);
    }

    40% {
        color: rgb(0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(255, 255, 255, 0),
            .5em 0 0 rgba(255, 255, 255, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 rgb(0, 0, 0),
            .5em 0 0 rgba(255, 255, 255, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 rgb(0, 0, 0),
            .5em 0 0 rgb(0, 0, 0);
    }
}

.toggleA{
    animation: scale 400ms;
    transition: 200ms ease;
}

.toggleB{
        animation: scale2 400ms;
    transition: 200ms ease;
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}

/* .toggleA {
    animation: wiggle 2.5s infinite;
    transition: 200ms ease;
}

.toggleB {
    animation: wiggle2 2.5s infinite;
} */

 .at461{
    display: flex;
 }

@keyframes wiggle2 {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@keyframes scale2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}


@media all and (max-width: 785px){
    .HomeCont {
            margin: auto;
            margin-top: 15px;
            margin-bottom: 75px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            /* flex-direction: row; */
        
        }

                .HomeCont .leftPannel {
                    border: 1px solid rgb(170, 170, 170);
                    /* box-shadow: 0px 10px 40px rgba(195, 195, 195, 0.5); */
                    height: auto;
                    /* padding: 20px; */
                    padding: 20px 38px;
                   
                    width: 90%;
                    border-radius: 14px;
                    margin: auto;
                    background-color: rgb(200, 207, 206);
                    margin-top: 8px;
                }

        
        
                .leftPannel div {
        
                    padding-bottom: 10px;
                    font-size: 17px;
                    font-weight: 400;
                    display: flex;
        
                    justify-content: space-between;
                }
        
                .leftPannel .ttle div {
                    padding-bottom: 0;
                }
        
                .leftPannel .ttle {
                    padding-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                }
        
                .ttle div:nth-child(1) {
                    margin: auto auto;
                    font-weight: 600;
                    font-size: 22px;
                    letter-spacing: 1px;
                }
        
                .ttle div:nth-child(2) {
                    margin: auto auto;
                    font-weight: 300;
                    font-size: 15px;
                }
        
                .followers div {
                    cursor: pointer;
                    padding: 10px;
                    padding-left: 13px;
                    padding-right: 13px;
                    align-items: center;
                    border-radius: 7px;
                }
        
                .followers div:nth-child(1):hover {
                    background-color: rgb(76, 130, 222);
                }
        
                .followers div:nth-child(2):hover {
                    background-color: rgb(110, 110, 110);
                }
        
                .followers div:nth-child(1) {
                    margin-right: 5px;
                    color: rgb(241, 241, 241);
                    background-color: rgb(35, 99, 209);
                }
        
                .followers div:nth-child(2) {
                    color: rgb(241, 241, 241);
                    background-color: rgb(86, 86, 86);
                }
        
                .followers div:nth-child(1) :nth-child(1) {
                    margin-right: 7px;
                }
        
                .leftPannel .followers {
                    justify-content: center;
                }
                .leftPannel div:nth-child(8){
                    display: none;
                }
                .leftPannel p {
                    display: none;
                 }
                 .leftPannel hr{
                    display: none;
                 }


                                 .HomeCont .rightPannel {
                                        margin-top: 20px;
                                     height: 100%;

                                     width: 100%;
                                     /* background-color: rgb(139, 139, 102); */
                                    padding: 0
                                 }
                
                
                
                                 .rightPannel .grid {
                            
                                    /* background-color:blue ; */
                                     display: grid;
                                     /* place-items: center; */
                                     padding-right: 40px;
                          
                                     gap: 15px;
                                     grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
                            
                                     grid-template-rows: repeat(3, 265px);
                                        place-items: center;
                                 }
}


@media all and (max-width: 461px) {
    .hide461{
        display: none;
    }
    .show461{
        display: flex;

        width: 100%;
        justify-content: center;
        padding-right: 22px;
    }

    .at461{
        width: 100%;
    }
}



@media all and (max-width: 520px){
    .openInput2 {
        margin-bottom: 20px;
        display: flex;
            width: 0%;
            opacity: 0;
            transition: .25s ease-out;
        }
    
        .closeInput2 {
                    margin-bottom: 20px;
                    display: flex;
            width: 100%;
            transition: .25s ease-out;
        }
                .openInput {
                    display: none;
                }
        
                .closeInput {
                    display: none;
                }
}

@media all and (max-width: 567px) {
    .leftPannel{
       display: none;
    }
.navbar {
    display: none;
    }
    .leftSide{
        display: none;
    }
    .cont{
            background-color: rgb(233, 233, 233);
    }
    .navbar2{
        position: relative;
        height: 79px;
        display: flex;
        justify-content: right;
        text-decoration: none;
        list-style: none;
        align-items: center;
        font-weight: 300;
        font-size: small;
        letter-spacing: 1px;
        font-size: 14px;
        margin: auto;
        margin-bottom: 0;

    }

    .ham{
        cursor: pointer;
        /* position: relative; */
        color: rgb(46, 46, 46);
        display: flex;
        padding: 20px;
        padding-right: 26px;
        font-size: 40px;
    }
        .hamLogo {

            z-index: 1000;

        }

        .xLogo{
            position: fixed;
            z-index: 1000;
                top: 21px;
                right: 26px;
        }

}


@media all and (max-width: 385px) {
    .rightPannel .grid{
        margin-left: 2px;
    }
}
@media all and (max-width: 364px) {
    .rightPannel .grid {
        margin-left: 15px;
    }
}

@media all and (max-width: 353px) {
    .rightPannel .grid {
        margin-left: 20px;
    }
}

@media all and (max-width: 343px) {
    .rightPannel .grid {
        margin-left: 22px;
    }
}

@media all and (max-width: 333px) {
    .rightPannel .grid {
        margin-left: 25px;
    }
}
